@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
   }

body {
    background: rgba(51, 51, 51, 1);
}

.principal {
    width: 90%;
    max-width: 1000px; 
    padding: 40px 100px;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    float: right;
}

.card {
    width: 100%;
    max-width: 350px;
    color: white;
    background-image: url(images/nej.png);
    background-size: cover;
    padding: 30px;
    border-radius: 16px;
    min-height: 200px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 8px rgba(146, 197, 247, 0.089);
    float: right;
    margin-left: 380px;
    margin-top: 80px;
}

.chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 10px;
}

.data {
    font-size: 16px;
    color: rgb(220, 213, 223);
    
}

.dataContainer{
    background: rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 520px;
    height: 400px;
    padding: 20px  10px 170px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
}

.secondView {
    background: rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 520px;
    height: 400px;
    padding: 20px  10px 170px; 
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 350px;
}

.answer {
    color: rgb(29, 27, 27);
    /* margin-top: px; */
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 10px;
    color: white;
  } 

.showData {
    display: block;
    color: rgb(29, 27, 27);
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 60px;
}

input, select, button {
    font-size: 17px;
    background: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    width: 360px;
    padding: 10px 12px;
    transition: .3s ease all;
    margin-bottom: -80px;
    margin-left: 60px ;
} 

.number{
    font-size: 28px;
}
.box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

select {
    width: 150px;
}

.dates {
    display: flex;
    /* justify-content: space-between; */
    
}

button {
    background: linear-gradient(88.18deg, #2BE36A 0%, #169D94 49.84%, #0259BE 95.7%), #979797;
border: 1px solid #FFFFFF;
box-sizing: border-box;
color: white;
border-radius: 25px;
margin-top: 30px;
}

input, select{
    text-transform: uppercase;
    box-shadow: 0 7px rgba(75, 72, 72, 0.185);
}
/* .btnReload {
    margin-bottom: 100px;
    margin-top: -1000px;
} */